body {
    margin: 0;
    width: 100%;
}

.modal-header {
    padding: 8px;
}

.modal-content {
    background-color: #f7f7f7;
    padding: 8px;
    border: 1;
    border-color: #e6e6e6;
}

.modal-footer {
    padding: 8px;
}

.mail {
    padding: 5px;
    text-align: center;
    background-image: url(/images/info.png);
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
}

.donate {
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
}